/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --bgImage: url(../images/cover-image-dark.png);
    --bgColor: #000028;
    --menuColor: #FF0070;
    --buttonBorderBackgroundColor: #FF0070;
    --headerTitleColor: #DB00FF;
    --headerAccentTitleColor: #FF0070;
    --textBackground: #FF0070;
    --textColor: #000028;
    --linkColor: #F1B2CE;
}

.theme-dark .decorate__element {
  display: block;
}

.theme-dark .decorate__element::after {
  display: inline-block;
}

.theme-dark .decorated-zone::before {
display: block;
}

.theme-dark .decorated-zone::after {
display: block;
}

.theme-dark .header__theme-menu-button {
  color: var(--menuColor, #FF0070);
}

.theme-dark .header__theme-menu-button:focus-visible {
  --buttonBorderBackgroundColor: #FF0070;
}

.theme-dark  .header__theme-menu-button:hover {
  --buttonBorderBackgroundColor: #FF007066;
}

.theme-dark  .header__theme-menu-button_active {
  --buttonBorderBackgroundColor: #FF0070;

}

.theme-dark section .title-decor {
  --textBackground: #000028;
  --textColor: #FF0070;
}

.theme-dark .content .title-decor {
  --textBackground: #FF0070;
  --textColor: #000028;
}

.theme-dark .content__text {
  --textColor: #F1B2CE;
  }

.theme-dark .pictures .title-decor {
  --textBackground: #FF0070;
  --textColor: #000028;
}

.theme-dark  .text__link {
  --headerAccentTitleColor:#FF0070;
  text-decoration: none;
}

.theme-dark  .text__link:focus-visible {
  --textColor: #F1B2CE;
} 

.theme-dark .text__link:hover {
  text-decoration: underline;
}