/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --bgImage: url(../images/cover-image-light.png);
    --bgColor: #FFF1F7;
    --menuColor: #353430;
    --buttonBorderBackgroundColor: #353430;
    --headerTitleColor: #FFC2E6;
    --headerAccentTitleColor: #FF8DCB;
    --textBackground: #FF8DCB;
    --textColor: #353430;
    --linkColor: #353430;
}

.theme-light .decorate__element {
  display: none;
}

.theme-light .header__theme-menu-button:focus-visible {
  --buttonBorderBackgroundColor: #353430;
}

.theme-light  .header__theme-menu-button:hover {
  --buttonBorderBackgroundColor: #32312D66;
}

.theme-light  .header__theme-menu-button_active {
  --buttonBorderBackgroundColor: #353430;
}

.theme-light section .title-decor {
  --textBackground: #FFF1F7;
  --textColor: #353430;
}

.theme-light .content .title-decor {
  --textBackground: #FF8DCB;
  --textColor: #353430;
}

.theme-light .content__text {
  --textColor: #353430;
}

.theme-light .pictures .title-decor {
  --textBackground: #FF8DCB;
  --textColor: #353430;
}

.theme-light  .text__link {

  text-decoration: none;
}

.theme-light  .text__link:focus-visible {
  --textColor: #353430;
} 

.theme-light .text__link:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: light) {
  :root {
  --bgImage: url(../images/cover-image-light.png);
    --bgColor: #FFF1F7;
    --menuColor: #353430;
    --buttonBorderBackgroundColor: #353430;
    --headerTitleColor: #FFC2E6;
    --headerAccentTitleColor: #FF8DCB;
    --textBackground: #FF8DCB;
    --textColor: #353430;
    --linkColor: #353430;
  }

  .decorate__element {
    display: none;
  }

  .header__theme-menu-button:focus-visible {
    --buttonBorderBackgroundColor: #353430;
  }

  .header__theme-menu-button:hover {
    --buttonBorderBackgroundColor: #32312D66;
  }

  .header__theme-menu-button_active {
    --buttonBorderBackgroundColor: #353430;
  }

  section .title-decor {
    --textBackground: #FFF1F7;
    --textColor: #353430;
  }

  .content .title-decor {
    --textBackground: #FF8DCB;
    --textColor: #353430;
  }

  .content__text {
  --textColor: #353430;
  }

  .pictures .title-decor {
    --textBackground: #FF8DCB;
    --textColor: #353430;
  }

  .text__link {
    text-decoration: none;
  }

  .text__link:focus-visible {
    --textColor: #353430;
  }
}