/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --sectionmarginBlock: 55px 66px;
    --sectionMarginInline: 10px;
    --sectionPaddingBlockStart: 40px;
    --sectionPaddingBlockEnd:40px
}